{% extends "layout.html" %}

{% block title %}
  Home_Page
{% endblock %}

{% block content %}
<h1 class="font-extrabold bg-white text-3xl">My frist app| Home page</h1>

<p class="text-center bg-orange-400 text-6xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deserunt rerum officiis? Expedita praesentium laborum architecto nobis placeat doloremque, officiis exercitationem debitis ex mollitia numquam explicabo! Totam, minus? Sapiente, ea!</p>
{% endblock %}

{% comment %} {% block views %}
  <h1 class="bg-slate-700 text-blue-800 text-4xl">Hi my name is nilufa</h1>
{% endblock %} {% endcomment %}